

$horiz-pad: 5px
$vert-pad: 3px

$normal-font-size: small
$small-font-size: smaller


html
    position: relative
    min-height: 100%

body
    // navbar height
    padding-top: 55px
    // footer height
    // margin-bottom: 40px

#basecont
    padding: 0px


////////////////// INDEX //////////////////

#idxshow, #idxtime, .idxbuttons
    margin: 20px

#idxtime h5
    text-align: center

.idxbuttons
    text-align: center

.idxbuttons span
    padding: 10px
    font-size: x-large

.idxbuttons span.enabled
    color: black

.idxbuttons span.disabled
    color: #777

#idxpos
    position: relative
    z-index: 1
    margin: 20px
    height: 20px
    background: #eee
    border: 1px solid black
    width: 100px

#idxposfill
    content: ""
    position: absolute
    z-index: -1
    top: 0
    right: 30%
    bottom: 0
    left: 0
    background: #333


////////////////// BROWSE //////////////////

table#tbbrowse
    table-layout: fixed


table#tbbrowse tr td
    font-size: $normal-font-size

table#tbbrowse tr td:first-child
    width: 48px
    text-align: center
    color: #888
    vertical-align: middle
    padding: 3px 10px 8px 20px

table#tbbrowse tr.selected
    background-color: blue
    color: white


table#tbbrowse tr td.browse-head img
    width: 25px
    height: 25px

table#tbbrowse tr td.browse-dir
    vertical-align: middle
    width: 95%

table#tbbrowse tr td.browse-file
    vertical-align: middle
    width: 95%

table#tbbrowse tr td.browse-action
    vertical-align: middle
    text-align: center
    width: 40px
    color: #888

span.browse-arrow
    padding-left: 10px
    padding-right: 10px

span.browse-span
    color: blue

span.browse-action
    position: relative
    display: block
    padding: 10px 15px
    color: #777
    background-color: #eee
    border-radius: 4px


////////////////// PLAYLIST //////////////////

// no padding for outer table
.table tbody tr  td.pltdmain
    padding: 0

// inner table
table.pltbsub
    max-width: 100%
    width: 100%
    background-color: transparent

// all td first line
tr.pltr-0 td
    font-size: $normal-font-size
    padding: $vert-pad $horiz-pad
    vertical-align: middle

// index
tr.pltr-0 td.pltd-0, tr.pltr-1 td.pltd-0
    text-align: right
    border-right: 1px solid #ddd

// ... vertical dots
tr.pltr-0 td.pltd-3
    color: #888
    text-align: center
    vertical-align: middle
    padding: 5px

// time
tr.pltr-0 td.pltd-2
    text-align: right
    max-width: 95%

// album - artist
tr.pltr-1 td
    font-size: $small-font-size
    padding: 0px 0px 5px 0px
    vertical-align: top
    text-align: center
    color: #777
