
html
    position: relative
    min-height: 100%

body
    // navbar height
    padding-top: 55px
    // footer height
    // margin-bottom: 40px

#basecont
    padding: 0px


table#tbbrowse
    table-layout: fixed


table#tbbrowse tr td:first-child
    width: 53px
    vertical-align: middle
    padding: 8px 10px 8px 20px


table#tbbrowse tr td.browse-head img
    width: 25px
    height: 25px

table#tbbrowse tr td.browse-dir
    vertical-align: middle

table#tbbrowse tr td.browse-file
    vertical-align: middle