-extends "base.haml"

-block content

    -include "navbar.haml"

    %table{'class': ['table', 'table-striped']}
        %tbody
            -for item in browse
                %tr
                    %td
                        %img{'src': '/static/img/folder-blue.png'}
                    %td
                        =item.1

