[Unit]
Description=PiBlaster uWSGI
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /opt/PiBlaster3/conf/piblaster.ini
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target