[Unit]
Description=PiBlaster uWSGI
After=syslog.target

[Service]
ExecStart=/bin/bash -c 'cd /opt/PiBlaster3; uwsgi --ini conf/piblaster.ini'
ExecStop=killall -9 uwsgi
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

