//-
    base.pug -- extended by all templates

    Provides basic css, javascript and meta data
    Loads content block for body

-load compress
!!!5
html(lang="en")
    head
        -compress js
        //-
            vendor javascripts -- required before loading internal ones.
        script(type='text/javascript', charset='utf-8', src='/static/vendor/js/jquery.min.js')
        script(type='text/javascript', charset='utf-8', src='/static/vendor/js/bootstrap.min.js')
        script(type='text/javascript', charset='utf-8', src='/static/vendor/js/d3.v4.min.js')
        //-
            Project javascript -- loaded after vendor requirements.
            global.coffee needs to be loaded 1st, application.coffee last.
            application.coffee includes document.ready function.
        script(type='text/coffeescript', charset='utf-8', src='/static/js/global.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/static/js/ajax.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/static/js/browse.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/static/js/application.coffee')
        -endcompress
        -compress css
        link(type='text/css', rel='stylesheet', href='/static/vendor/css/bootstrap.min.css', charset='utf-8')
        link(type='text/x-sass', rel='stylesheet', href='/static/css/application.sass', charset='utf-8')
        -endcompress
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, maximum-scale=1.0, user-scalable=yes")
        title PiBlater3 Remote

    body
        -csrf_token
        -include "piremote/navbar.pug"
        .container-fluid(id='basecont')
            //- requires closing endblock because of empty block
            -block content
            -endblock

