//-
    base.pug -- extended by all templates

    Provides basic css, javascript and meta data
    Loads content block for body

-load compress
!!!5
html(lang="en")
    head
        -compress js
        //-
            vendor javascripts -- required before loading internal ones.
        script(type='text/javascript', charset='utf-8', src='/piremote/static/vendor/js/jquery.min.js')
        script(type='text/javascript', charset='utf-8', src='/piremote/static/vendor/js/bootstrap.min.js')
        script(type='text/javascript', charset='utf-8', src='/piremote/static/vendor/js/d3.v4.min.js')
        //-
            Project javascript -- loaded after vendor requirements.
            global.coffee needs to be loaded 1st, application.coffee last.
            application.coffee includes document.ready function.
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/global.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/ajax.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/browse.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/index.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/playlist.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/application.coffee')
        -endcompress
        -compress css
        link(type='text/css', rel='stylesheet', href='/piremote/static/vendor/css/bootstrap.min.css', charset='utf-8')
        link(type='text/x-sass', rel='stylesheet', href='/piremote/static/css/application.sass', charset='utf-8')
        -endcompress
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, maximum-scale=1.0, user-scalable=yes")
        title PiBlater3 Remote

    body
        -csrf_token
        nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container-fluid
                //- non-collapsable header 'PiBlaster home button'
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse',data-target='#bs-collapse-nav', aria-expanded='false')
                        span.sr-only =Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/piremote') PiBlaster

                //- ul.nav.navbar-nav


                //- collapsable part of navigation bar
                .collapse.navbar-collapse(id='bs-collapse-nav')
                    ul.nav.navbar-nav
                        -block navcontent
                        -endblock

        #modalSmall.modal.fade.bs-example-modal-sm(tabindex="-1", role="dialog", aria-labelledby="smallModalLabel", aria-hidden="true")
          .modal-dialog.modal-sm
            .modal-content
              .modal-header
                button.close(aria-hidden="true", data-dismiss="modal", type="button")
                  span(aria-hidden="true") &times;
                  span.sr-only Close
                h4.modal-title(id="smallModalLabel") Message
                .modal-body(id="smallModalMessage") Message not set!

        .container-fluid(id='basecont')
            //- requires closing endblock because of empty block
            -block content
            -endblock

