//-
    browse.pug -- GET /piremote/browse template

-extends "piremote/base.pug"

-block content
    .browse-list
        table.table.table-striped(id='tbbrowse')
            tbody#browse
            //- no table content here, document.ready will invoke ajax rebuild of browse table
