//-
    browse.pug -- GET /piremote/browse template

-extends "piremote/base.pug"

-block content

    -include "piremote/navbar.pug"

    .browse-list

        table.table.table-striped(id='tbbrowse')
            tbody#browse
                -for item in browse
                    if item.0 == '1'
                        tr.dir-item(data-dirname=item[5])
                            td
                                img(src='/static/img/folder-blue.png')
                            td
                                =item.1

