//-
    browse.pug -- GET /piremote/browse template

-extends "piremote/base.pug"

-block navcontent
    li
        a(href='#', data-toggle='browse', data-action='home')
            //- Need to add data-action here as event could take span as target.
            span.glyphicon.glyphicon-home(aria-hidden='true', data-action='home')
    li
        a(href='#', data-toggle='browse', data-action='up')
            //- see above
            span.glyphicon.glyphicon-chevron-up(aria-hidden='true', data-action='up')
    li
        a(href='#', data-toggle='browse', data-action='selectall') Select all
    li
        a(href='#', data-toggle='browse', data-action='deselectall') Deselect all
    li
        a(href='#', data-toggle='browse', data-action='selectionappend') Append selection to current playlist
    li
        a(href='#', data-toggle='browse', data-action='selectionappend') Insert Selection after current song
    li
        a(href='#', data-toggle='browse', data-action='selectionappend') Append selection to another playlist


-block content
    .browse-list
        table.table.table-striped(id='tbbrowse')
            tbody#browse
            //- no table content here, document.ready will invoke ajax rebuild of browse table
