//-
    index.pug -- PiBlaster 3 Remote landing page

    Whole content is built dynamically inside div.piremote-content via javascript using
    data from AJAX GET/POST.

    If everything works correctly this page has only be loaded once.
    Page needs to be reloaded if AJAX errors occur.

    For release mode, all javascript/css files have to be compressed. Call
    $ ./manage.py compress --extension=pug
    to compress files for offline mode (release mode, no recompile on every page call).

-load compress
!!!5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, maximum-scale=1.0, user-scalable=yes")
        meta(http-equiv="Cache-control", content="no-cache")
        meta(http-equiv="Expires", content="-1")
        title PiBlater3 Remote
        -compress css
        link(type='text/css', rel='stylesheet', href='/piremote/static/vendor/css/bootstrap.min.css', charset='utf-8')
        link(type='text/x-sass', rel='stylesheet', href='/piremote/static/css/application.sass', charset='utf-8')
        -endcompress
        -compress js
        //-
            vendor javascripts -- required before loading internal ones.
        script(type='text/javascript', charset='utf-8', src='/piremote/static/vendor/js/jquery.min.js')
        script(type='text/javascript', charset='utf-8', src='/piremote/static/vendor/js/bootstrap.min.js')
        script(type='text/javascript', charset='utf-8', src='/piremote/static/vendor/js/d3.v4.min.js')
        script(type='text/javascript', charset='utf-8', src='/piremote/static/vendor/js/ws4redis.js')
        //-
            Project javascript -- loaded after vendor requirements.
            global.coffee needs to be loaded 1st, application.coffee last.
            application.coffee includes document.ready function.
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/global.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/ajax.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/browse.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/files.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/history.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/index.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/playlist.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/search.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/settings.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/websocket.coffee')
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/upload.coffee')
        //-
            Load last
        script(type='text/coffeescript', charset='utf-8', src='/piremote/static/js/application.coffee')
        -endcompress
        //-
            Dynamic content via python
            - support for /piremote/pages/PAGENAME
            - index view will set page to 'index'
        script.
            PiRemote.current_page = "{{page}}";
            PiRemote.debug = {{debug}};
            PiRemote.has_user_pw = {{has_pw}};
        -if upload
            -autoescape off
                script.
                    PiRemote.upload_message = {{upload}};
    body
        -csrf_token
        nav.navbar.navbar-default.navbar-fixed-top(role='navigation', id='navbar')
            .container-fluid
                //- non-collapsable header 'PiBlaster home button'
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse',data-target='#bs-collapse-nav', aria-expanded='false')
                        span.sr-only =Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    //- a.navbar-brand(href='/piremote') PiBlaster
                    a.navbar-brand(href='#', data-toggle='menu', data-action='index') PiBlaster
                    #button-line

                //-
                    collapsable part of navigation bar
                    navigation is always collapsed -- customized boostrap used with huge screen widths
                .collapse.navbar-collapse(id='bs-collapse-nav')
                    ul.nav.navbar-nav
                        //-
                            This menu loads all page contents via JavaScript.
                            Dynamic content of pages is loaded via AJAX.

                            PiRemote.load_page() will delete the nodes below '.piremote-content'
                            and install new content viaw PiRemote.load_NAME_page() functions.

                        li
                            a(href='#', data-toggle='menu', data-action='index') Play
                        li
                            a(href='#', data-toggle='menu', data-action='playlist') Playlist
                        li
                            a(href='#', data-toggle='menu', data-action='files') Browse Files
                        li
                            a(href='#', data-toggle='menu', data-action='browse') Browse by Tags
                        li
                            a(href='#', data-toggle='menu', data-action='search') Search
                        li
                            a(href='#', data-toggle='menu', data-action='history') History
                        li
                            a(href='#', data-toggle='menu', data-action='upload') Upload
                        li
                            a(href='#', data-toggle='menu', data-action='settings') Settings

        //-
            modal dialog overlay from bootstrap.
            Content set dynamically via javascript.
        #modalSmall.modal.fade.bs-example-modal-sm(tabindex="-1", role="dialog", aria-labelledby="smallModalLabel", aria-hidden="true")
          .modal-dialog.modal-sm
            .modal-content
              .modal-header
                button.close(aria-hidden="true", data-dismiss="modal", type="button")
                  span(aria-hidden="true") &times;
                  span.sr-only Close
                h4.modal-title(id="smallModalLabel") Message
                .modal-body(id="smallModalMessage") Message not set!

        .container-fluid(id='basecont')
            #searchbardiv
                table#searchbar.table
                    tr#searchbartr
                        td#searchbarlabel Search:
                        td#searchbarinput
                            input#searchfield(type="text")
                        td#searchbarbutton
                            button#gosearch.btn.btn-default(type="submit") Go
            h3#heading
            .piremote-content
                //- content here built via PiRemote.load_page()

        //-
            hidden by default, raised for pages with add action.
        #minusdiv
            span#minussign.glyphicon.glyphicon-minus-sign
        #adddiv
            span#addsign.glyphicon.glyphicon-plus-sign

        //- download blobs received by AJAX
        a#download

        //-
            draggable item in playlist view.
        #dragdiv
            p#dragp

        //-
            Status bar -- fade in/out via javascipt.
        #footer
            .container-fluid
                p#statusbar
