//-
    index.pug -- PiBlaster 3 Remote landing page

-extends "piremote/base.pug"

-block navcontent
    li
        a(href='#') Play
    li
        a(href='#') Playlist
    li
        a(href='/piremote/browse') Browse
    li
        a(href='#') Upload
    li
        a(href='#') Settings



-block content


    h1 Hello World!
    p
        =state.title

