//-
    index.pug -- PiBlaster 3 Remote landing page

-extends "piremote/base.pug"

-block navcontent
    li
        a(href='#', data-toggle='menu', data-action='index') Play
    li
        a(href='#', data-toggle='menu', data-action='playlist') Playlist
    li
        a(href='#', data-toggle='menu', data-action='browse') Browse
    li
        a(href='#', data-toggle='menu', data-action='search') Search
    li
        a(href='#', data-toggle='menu', data-action='upload') Upload
    li
        a(href='#', data-toggle='menu', data-action='settings') Settings


-block content
    .piremote-content
