//-
    upload_ratings_result.pug -- show ratings upload result

    POST /piremote/upload/ratings

!!!5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, maximum-scale=1.0, user-scalable=yes")
        meta(http-equiv="Cache-control", content="no-cache")
        meta(http-equiv="Expires", content="-1")
        title PiBlater3 Remote
    body
        h1 Upload Ratings File
        p.
            Ratings uploaded.

        if error_str
            h4.error Error:
            p.error {{error_str}}

        if errors
            h4.error XML Errors:
            each error in errors
                p.error {{error}}

        if status_str
            p.status {{status_str}}

        if unparsed
            h4.status Ratings not found in local database:
            ol
                each rating in unparsed
                    li {{rating.3}}

        if parsed
            h4.status Parsed Ratings:
            ol
                each rating in parsed
                    li {{rating.3}}
