//-
    index.pug -- PiBlaster 3 admin landing page


-extends "piadmin/base.pug"

-block content
    h1 PiBlaster Admin Page

    h2 WIFI Access
    p
        a(href='/piadmin/wifi') Change WiFi settings

    h2 Delete Uploads
    p
        a(href='/piadmin/deleteup') Delete in Uploads

    h2 Delete Files
    p
        a(href='/piadmin/delete') Delete in Files